.vjs-overlay {
    background: rgba(0,0,0,0.96);
    padding: 14px 18px;
    margin-top: 10px;
    float: right;
    position: relative;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 16px;
    max-width: 40%;
}

.vjs-text-track-cue.vjs-text-track-cue-en > div {
    background: rgba(0,0,0,0.96);
    padding: 10px 12px;
    text-align: center;
    white-space: initial;
    font-size: 16px;
}

@media only screen 
  and (max-width: 375px) { 
    .vjs-text-track-cue.vjs-text-track-cue-en > div {
        padding: 8px 10px;
        font-size: 12px;
        line-height: 20px;
    }
}

.vjs-disclaimer-close-btn {
    position: absolute;
    top: -5PX;
    right: -5PX;
    font-size: 16px;
    color: white;
    line-height: 1;
    padding: 0px;
    margin: 0px;
}

.vjs-disclaimer-close-btn .vjs-icon-cancel {
    font-size: 16px;
}

.vjs-text-track-cue.vjs-text-track-cue-en {
    display: flex;
    justify-content: center;
}

.vjs-text-track-cue.vjs-text-track-cue-en {
    text-align: center;
    display: flex;
    justify-content: center;
}
