.vjs-overlay {
    background: rgb(0 0 0 / 55%);
    padding: 14px 18px;
    margin-top: 10px;
    float: right;
    position: relative;
    border-radius: 4px;
    margin-right: 10px;
}

.vjs-icon-cancel {
    position: absolute;
    top: -6px;
    right: -3px;
    background: white;
    border-radius: 50%;
    color: black;
    padding: 3px;
    font-size: 10px;
    line-height: 0.6;
}

.vjs-text-track-cue. {
    text-align: center !important;
}