.vjs-overlay {
    background: rgba(0,0,0,0.96);
    padding: 14px 18px;
    margin-top: 10px;
    float: right;
    position: relative;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 16px;
}

.vjs-disclaimer-close-btn {
    position: absolute;
    top: -6px;
    right: -9px;
    border-radius: 50%;
    color: #000;
    padding: 3px;
    font-size: 20px;
    color: white;
    line-height: .6;
}

.vjs-text-track-cue.vjs-text-track-cue-en {
    display: flex;
    justify-content: center;
}

.vjs-text-track-cue.vjs-text-track-cue-en {
    text-align: center;
    display: flex;
    justify-content: center;
}
